<h1 class="event-name"><%= event.name %></h1>
<p class="event-description"><%= event.description %></p>
<p class="event-location"><%= event.location %></p>
<p class="event-start"><%= event.start_date %></p>
