<nav class="icon-bar two-up">
  <a class="item" href="/">
    <i class="fi-home"></i>
    <label><%=t :home %></label>
  </a>
  <a class="item" href="/events">
    <i class="fi-calendar"></i>
    <label><%=t :events %></label>
  </a>
</nav>
